* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins', sans-serif;
    background-color: #1b1a1a;
    height: 100%;
}

.container {
    width: 90%;
    margin: 30px auto;
    position: relative;
}

.header {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navbar {
    width: 50%;
}

.title {
    border: 1px solid #FFFFFF;
    padding: 8px;
}

.header .navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
}

.navbar a {
    text-decoration: none;
    color: #FFFFFF
}

.burger {
    display: none
}

.container > section {
    margin: 100px auto;
    display: flex;
    /* align-items: flex-start; */
}

.container .main-content {
    color: #FFFFFF;
    width: 80%;
    margin-right: 100px;
}

.main-container {
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    margin: 80px;
    width: 90%;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.main-content h1 {
    font-weight: 100;
    font-size: 3rem;
}

.description {
    line-height: 30px;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.read-more {
    font-weight: 500;
    font-size: 20px;
}

.read-more span {
    text-align: end;
}

.main-image {
    display: block;
    width: 100%;
    margin: 25px;
    flex: 2;
}

.main-image img {
    width: 100%;
}

@media screen and (max-width: 760px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .nav-active {
        transform: translateX(0%);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .burger {
        /* transform: ; */
    }
}

