* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #333333;
    height: 150vh;
    max-width: 90%; 
}

.navbar {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
}

.nav-title {
    border: 1px solid;
    padding: 6px;
    margin-top: 20px;
    margin-left: 80px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-top: 20px;
}

.nav-links li {
    list-style-type: none;
}

.nav-links a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 20px;
}

.burger {
    display: none
}

.main-container {
    color: #FFFFFF;
    display: flex;
    margin: 80px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-content h1 {
    font-weight: 100;
    font-size: 3rem;
}

.description {
    line-height: 30px;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.read-more {
    font-weight: 500;
    font-size: 20px;
}

.read-more span {
    text-align: end;
}

.main-image {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 25px;
}

.main-image img {
    width: 100%;
}

@media screen and (max-width: 760px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .nav-active {
        transform: translateX(0%);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .burger {
        /* transform: ; */
    }
}

